<div class="col-lg-3"></div>
<div class="col-lg-6 main-content">
    <h1>Medicamentos</h1>
    <h1>{{solution}}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Medicamento</th>
            <th colspan="1"></th>
            <th colspan="{{solutions.length}}">Volumen</th>
            <th colspan="1"></th>
            <th colspan="{{solution_types.length}}">Disolvente</th>
        </tr>
        </thead>
        <tr ng-repeat="d in drugs">
            <td>{{d.name}}</td>
            <td colspan="1" >
            </td>
            <td ng-repeat="s in solutions">
                <label>{{s.description}}
                    <input type="radio" name="{{d.name}}_solution" ng-model="d.solution" value="{{s.value}}" ng-change="onChange()"/> {{n.name}}
                </label>
            </td>

            <td colspan="1"></td>
            <td ng-repeat="st in solution_types">
                <input type="radio" id="s{{st.value}}" name="s{{d.id}}" value="{{st.value}}" ng-model="d.solution_type" ng-change="onChange()">
                <label for="s{{st.value}}">{{st.name}}</label>
            </td>
        </tr>
    </table>
</div>
<div class="col-lg-3"></div>
<nav class="col-lg-12">
    <ul class="pager">
        <li><a href="#">Atras</a></li>
        <li><a href="#">Siguiente</a></li>
    </ul>
</nav>
