body {
    font-family: 'Open Sans', sans-serif;
}

.centered{
    text-align: center;
}

p{
    text-align: justify;
}

.app-button{
    width: 185px;
}

#link-list li {
    font-size: 11px;
}
#link-list {
    //position: absolute;
    //z-index = 10;
}

.main-content {
    height: 580px;
}

th {
    text-align: center;
}
.recommendation_p {
    margin: 0 0 0 0;
}