<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h1>Recuerde que</h1>
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox">
                </span>
                <input type="text" class="form-control" value="2qdsasdasdsasd" readonly="true">
            </div>
            <nav>
                <ul class="pager">
                    <li><a href="#">Atras</a></li>
                    <li><a href="#">Siguiente</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>