<div class="col-lg-3"></div>
<div class="col-lg-6 centered main-content">
    <h1>{{'information_title' | translate}}</h1>
    <br>

    <form role="form">
        <div class="form-group input-group input-group-lg col-lg-12">
            <input type="text" class="form-control" placeholder="Nombre Paciente" ng-model="patient.name">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Cms</span>
            <input type="number" class="form-control" placeholder="Talla" ng-model="patient.size">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Kg</span>
            <input type="number" class="form-control" placeholder="Peso" ng-model="patient.weight">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <select class="form-control" ng-model="patient.gender">
                <option>Hombre</option>
                <option>Mujer</option>
            </select>
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Años</span>
            <input type="number" class="form-control" placeholder="Edad" ng-model="patient.age">
        </div>
    </form>
</div>
<div class="col-lg-3"></div>
<nav class="col-lg-12">
    <ul class="pager">
        <li><a href="#">Atras</a></li>
        <li><a href="#" ng-click="update(patient)">Siguiente</a></li>
    </ul>
</nav>