<div class="col-lg-1"></div>
<div class="col-lg-10 centered">
    <div class="col-lg-6">
        <div class="thumbnail">
            <div style="width: 600px; height: 340px; position: static" id="induction_mesh"></div>
            <div class="caption">
                <h2>Inducción</h2>
            </div>

        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Tiempo (Min)</span>
            <input type="number" ng-model="ind_time" class="form-control" ng-change="onUpdate()">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">PNR</span>
            <input type="number" ng-model="ind_pnr" step="0.01" class="form-control" ng-change="onUpdateInductionPNR(); onUpdate()">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Remifentanilo</span>
            <input type="number" ng-model="ind_x" step="0.1" ng-change="onUpdateInductionX()" class="form-control">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Propofol</span>
            <input type="number" ng-model="ind_y" step="0.1" ng-change="onUpdateInductionY()" class="form-control">
        </div>
    </div>
    <div class="col-lg-6">
        <div class="thumbnail">
            <div style="width: 600px; height: 340px; position: static" id="procedure_mesh"></div>
            <div class="caption">
                <h2>Procedimiento</h2>
            </div>
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Tiempo (Min)</span>
            <input type="number" ng-model="proc_time" class="form-control" ng-change="onUpdate()">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">PNR</span>
            <input type="number" ng-model="proc_pnr" step="0.01" class="form-control" ng-change="onUpdateProcedurePNR(); onUpdate()">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Remifentanilo</span>
            <input type="number" ng-model="proc_x" step="0.1" ng-change="onUpdateProcedureX();" class="form-control">
        </div>
        <div class="form-group input-group input-group-lg col-lg-12">
            <span class="input-group-addon">Propofol</span>
            <input type="number" ng-model="proc_y" tep="0.1" ng-change="onUpdateProcedureY();" class="form-control">
        </div>
    </div>
</div>
<div class="col-lg-1"></div>
<nav class="col-lg-12">
    <ul class="pager">
        <li><a href="#">Atras</a></li>
        <li><a href="#" ng-click="update(patient)">Siguiente</a></li>
    </ul>
</nav>
