<div class="col-lg-1"></div>
<div class="col-lg-10 centered">
    <div class="col-lg-6">
        <div class="thumbnail">
            <img my-holder="holder.js/400x340">
            <div class="caption">
                <h2>Induccion</h2>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Tiempo">
        <input type="text" ng-model="pnr" class="form-control" placeholder="PNR">
        <input type="text" ng-model="x" ng-change="onUpdateX()" class="form-control" placeholder="Cocentracion1">
        <input type="text" ng-model="y" class="form-control" placeholder="Cocentracion2">
    </div>
    <div class="col-lg-6">
        <div class="thumbnail">
            <img my-holder="holder.js/400x340">
            <div class="caption">
                <h2>Procedimiento</h2>
            </div>
        </div>
        <input type="text" class="form-control" placeholder="Tiempo">
        <input type="text" class="form-control" placeholder="PNR">
        <input type="text" class="form-control" placeholder="Cocentracion1">
        <input type="text" class="form-control" placeholder="Cocentracion2">
    </div>
</div>
<div class="col-lg-1"></div>
<nav class="col-lg-12">
    <ul class="pager">
        <li><a href="#">Atras</a></li>
        <li><a href="#" ng-click="update(patient)">Siguiente</a></li>
    </ul>
</nav>
