<div class="col-lg-1"></div>
<div class="col-lg-10 centered">
    <div class="col-lg-6">
        <div class="thumbnail">
            <img my-holder="holder.js/400x340">
            <div class="caption">
                <h3>Simulacion</h3>
            </div>
        </div>
        <div class="col-lg-12">
            <input type="text" ng-model="current_time" class="form-control" placeholder="Tiempo actual">
            <input type="text" ng-model="current_pnr" class="form-control" placeholder="PNR actual">
            <input type="text" ng-model="current_remi" class="form-control" placeholder="Cocentracion1 actual">
            <input type="text" ng-model="current_prop" class="form-control" placeholder="Cocentracion2 actual">
        </div>
        <div class="ol-lg-12 btn-group">
            <button type="button" class="app-button btn btn-primary" ng-click="start_simulation()">Iniciar simulación</button>
            <button type="button" class="app-button btn btn-primary" ng-click="start_simulation()">Actualizar simulación</button>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="col-lg-12">
            <h2>Remifentanilo</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Tiempo</th>
                    <th>Valvula</th>
                    <th></th>
                </tr>
                </thead>
                <tr ng-repeat="r in remi_simulation_data.infusionList">
                    <td>{{r.time/60}}</td>
                    <td>{{r.infusionValue}}</td>
                    <td>{{r.alternativeInfusionValue}}</td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <br>
        <div class="col-lg-12">
            <h2>Propofol</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Tiempo</th>
                    <th>Valvula</th>
                    <th></th>
                </tr>
                </thead>
                <tr ng-repeat="p in prop_simulation_data.infusionList">
                    <td>{{p.time/60}}</td>
                    <td>{{p.infusionValue}}</td>
                    <td>{{p.alternativeInfusionValue}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-1"></div>
<nav class="col-lg-12">
    <ul class="pager">
        <li><a href="#">Atras</a></li>
        <li><a href="#" ng-click="update(patient)">Siguiente</a></li>
    </ul>
</nav>